.navbar-brand {
    font-weight: 700;
}

.navbar-brand:hover {
    color: #ffe100;
}

.nav-icon {
    color: white;
}

.nav-icon:hover {
    color: yellow;
}

.sectors {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.sidebar {
    border-right: 1px solid black;
    height: 90vh;
}

.body {
    padding: 5px;
    height: 90vh;
}

table {
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.bi-trash3-fill:hover,
.bi-pencil-fill:hover {
    color: #ff3737;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}

.sub-input {
    text-align: center;
    font-size: 14px;
}

.label {
    background-color: #ebebeb;
    border-radius: 4px 4px 0 0;
    padding: 3px;
}

.form-control {
    height: 35px;
}

.bi-pencil-fill{
    color: black;
}

.bi-pencil-fill:hover{
    color: #01cc01;
}