.navbar-brand{
    font-weight: 700;
}

.navbar-brand:hover{
    color: #ffe100;
}

.nav-icon{
    color: white;
}

.nav-icon:hover{
    color: yellow;
}

.sectors{
    display: grid;
    grid-template-columns: 350px 1fr;
}