.navbar-brand{
    font-weight: 700;
}

.navbar-brand:hover{
    color: #ffe100;
}

.nav-icon{
    color: white;
}

.nav-icon:hover{
    color: yellow;
}

.sectors{
    display: grid;
    grid-template-columns: 350px 1fr;
}

.sidebar{
    border-right: 1px solid black;
    height: 90vh;
}

.body{
    padding: 5px;
    height: 90vh;
}

.shift-right{
    text-align: right;
}

th, td{
    padding-inline: 15px;
    border: 1px solid #80808086;
}
tr{
    border: 2px solid #1c1c1c;
}